
body .competition_list_wrapper {
	max-width: 1100px;
}
.competition_list table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.competition_list td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	min-width: 100px;
}

.competition_list tr:nth-child(even) {
	background-color: #e6f0ff;
}

body #primary.competition-detail,
body .competition_list_wrapper {
	max-width: 1100px;
}
body div.competition-details {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
body div.competition-details h1.entry-title {
	font-size: 77px;
	float: right;
	margin-left: 60px;
}

body div.competition-details header.entry-header.alignwide {
	display: flex;
}

body div.competition-details .entry-content h4 {
	padding: unset;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: 400;
}

body div.competition-details .entry-content div {
	margin-bottom: 35px;
}
body div.competition-details .entry-content div ul {
	padding-inline-start: 15px;
	padding-inline-start: 15px;
	margin: 0 auto;
	list-style-type: circle;
}

.wce-universal-pagination ul {
	margin: 0;
	padding: 0;
	text-align: center;
	margin-top: 50px;
}
.wce-universal-pagination ul li {
	display: inline;
	margin: 3px;
	padding: 4px 8px;
	background: #eeeeee;
	color: black;
	border-radius: 5px;
	border: 1px solid #ddd;
}
.wce-universal-pagination ul li.active:hover {
	cursor: pointer;
	background: #217bf7;
	color: white;
}
.wce-universal-pagination ul li.inactive {
	background: #7e7e7e;
	opacity: 0.5;
	pointer-events: none;
}
.wce-universal-pagination ul li.selected {
	background: #217bf7;
	color: white;
}
.wce-universal-pagination ul li:first-child,
.wce-universal-pagination ul li:last-child {
	background: transparent;
	border: none;
}
 
/* Entry Form CSS */
.entry-form table {
	border: 0;
	width: 100%;
	padding: 20px;
}

.entry-form table td {
	padding: 12px;
}

.entry-form table td.label-td {
	width: 30%;
}

.entry-form table td.field-td {
	width: 70%;
}

.entry-form input {
	width: 95%;
	padding: 10px;
	border: 1px solid;
	border-radius: 4px;
}

.entry-form form {
	border: 1px solid black;
}

.entry-form table textarea {
	width: 90%;
	height: 200px;
	padding: 20px;
	border: 1px solid;
	border-radius: 4px;
}

.entry-form button.submit-btn {
	text-align: center;
	left: 34%;
	position: relative;
	padding: 12px 36px;
	margin: 15px;
	border-radius: 6px;
	background: black;
	border: 2px solid;
	color: white;
	font-weight: 600;
	font-size: 15px;
	cursor: pointer;
	text-decoration: none;
	border: 2px solid black;
}

.entry-form button.submit-btn:hover {
	background: beige;
	color: black;
}

.entry-form input.error {
	border: 1px solid red;
}

.entry-form span.req, .entry-form span.err-msg {
	color: red;
}

.entry-form span.err-msg {
	font-size: 10px;
}

.entry-form .success {
	text-align: center;
	margin: 30px;
	padding: 10px;
	background: limegreen;
	color: white;
	font-style: italic;
	display: none;
}

.entry-form .success:has(.unex-error) {
	background: red;
	color: white;
}

.single-competitions.singular h1.entry-title {
	text-align: center;
	font-size: 30px;
	font-weight: 600;
}

.single-competitions a.submit-entry-btn {
	text-align: center;
	display: block;
	text-decoration: none;
	padding: 12px 32px;
	border: 2px solid black;
	border-radius: 10px;
	color: white;
	background: black;
	width: 220px !important;
	margin-top: 50px;
}

.single-competitions .entry-content {
	text-align: justify;
}

.single-competitions a.submit-entry-btn:hover {
	background: beige;
	color: black;
	font-weight: 500;
}
